.card-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  font-family: "roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.event-body{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.event-title {
  color: white;
  font-size: 50px;
  margin-bottom: 2%;
  font-weight: 800;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5%;
  color: #fff; /* Neon text color */
  text-shadow: 4px 3px 3px rgba(27, 25, 25, 0.5); /* Neon text shadow */
  background: linear-gradient(108.7deg, rgb(34, 219, 231) -0.9%, rgb(52, 118, 246) 88.7%);
  text-align: center;
  width:50%;
  border-radius: 5%;
  margin-top: 5%;
}

.event-body {
  background-color: black;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width:1050px){
  .card-container{
   flex-direction: column;
  }
  
}

@media only screen and (max-width:520px){
  .title{
    font-size: 30px;
  }
  .event-title {

    width:90%;
    border-radius: 5%;
    margin-bottom: 2%;
  }
}
